<!DOCTYPE html>
<html>
<head>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="https://d3js.org/d3-time-format.v2.min.js"></script>
<%= javascript_include_tag 'application' %>
<%= stylesheet_link_tag 'application' %>
<%= csrf_meta_tag %>
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>REPOSE</title>
</head>
<body>
<div id="container">
  <header>
  <%= image_tag("icon-transparent@100.png") %> <h1 class="title"> REPOSE </h1>
  </header>
  <div id="flash">
    <% flash.each do |key, value| -%>
      <div id="flash_<%= key %>"><%=h value %></div>
    <% end %>
  </div>

  <%= yield %>
  </div>
</body>
</html>
